@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is a simple MVC web application. It includes a simple two-table database. 
   There is a student DB and a teacher DB. Each teacher can have many students.</p>
