@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>mailto:</strong>   <a href="mailto:isham_rajgariah@yahoo.co.in">isham_rajgariah@yahoo.co.in</a><br />
</address>