@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>Isham's Assignment</h1>
        <p class="lead">Demonstration of ASP.NET MVC using HTML, CSS and JavaScript.</p>
        <p>
           This is a simple example of a school which has teachers and students. Click on Teachers to proceed.
        </p>
        <p><a class="btn btn-primary btn-lg" href=@Url.Action("Index", "Teacher")>Teachers &raquo;</a></p>
    </div>

